.w100 {
    width: 100px!important;
}

#wpinv-items .inside {
    background: #fefefe;
    margin: 0;
    padding: 0;
}

/* invoice notes */
.getpaid-is-invoice-cpt .wp-list-table.widefat th#ID {
    width: 70px;
}

.getpaid-is-invoice-cpt .wp-list-table.widefat th#number {
    width: 300px;
}

.getpaid-is-invoice-cpt #commentsdiv.postbox {
    display: none !important;
}

.getpaid-is-invoice-cpt.post-type-wpi_quote .wp-list-table.widefat th#invoice_date {
    width: 160px;
}

.getpaid-is-invoice-cpt .wp-list-table.widefat th#status {
    width: 150px;
}

.getpaid-is-invoice-cpt .wp-list-table.widefat th#amount {
    width: 110px;
}

.getpaid-is-invoice-cpt .wp-list-table.widefat th#customer {
    width: 180px;
}

#post-body select#invoice_note_type {
    width: auto;
}
#wpinv-details #wpinv-vat-rates-list td {
    padding: 5px 10px;
    font-size: 13px
}
#wpinv-vat-rates-list  .wpinv-vat-val {
    text-align: right;
    vertical-align: top;
}
#poststuff #wpinv-notes .inside {
    margin: 0;
    padding: 0
}
#poststuff #wpinv-notes .inside ul.invoice_notes li {
    padding: 0 10px
}

ul.invoice_notes {
    padding: 2px 0 0;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
ul.invoice_notes li p.meta .exact-date {
    border-bottom: 0px dotted #999
}
ul.invoice_notes li .note_content {
    padding: 10px;
    background: #efefef;
    position: relative
}
ul.invoice_notes li .note_content p {
    margin: 0;
    padding: 0;
    word-wrap: break-word
}
ul.invoice_notes li p.meta {
    padding: 10px;
    color: #999;
    margin: 0;
    font-size: 11px
}
ul.invoice_notes li a.delete_note {
    color: #a00
}
ul.invoice_notes li .note_content:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-width: 10px 10px 0 0;
    border-style: solid;
    border-color: #efefef transparent
}
ul.invoice_notes li.customer-note .note_content {
    background: #a7cedc
}
ul.invoice_notes li.customer-note .note_content:after {
    border-color: #a7cedc transparent
}
ul.invoice_notes li.system-note .note_content {
    background: #d7cad2;
}
ul.invoice_notes li.system-note .note_content:after {
    border-color: #d7cad2 transparent
}
.add_note {
    border-top: 1px solid #ddd;
    padding: 10px 10px 0
}
.add_note h4 {
    margin-top: 5px!important
}
.add_note #add_invoice_note {
    width: 100%;
    height: 50px
}

.wpinv .wp-admin select {
  height: 32px;
  line-height: 32px;
  padding: 5px;
}
.wpinv_woo.button {
  height: 26px !important;
  padding: 0 3px !important;
}
.wpinv_woo.button .dashicons {
  font-size: 14px;
  height: 14px;
  line-height: 1.85;
}
.wpinv #minor-publishing { display: none; }

.wpinv span.updated {
  background: #fff none repeat scroll 0 0;
  border-left: 4px solid #7ad03a;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  display: block;
  margin: 5px 2px 2px;
  padding: 5px 12px;
}
.wpinv .popup-form .form-field label {
  font-weight: bold;
  margin: 10px 0 5px;
  float: left;
  width: 100%;
}

/*
  email popup form
*/
.wpinv #TB_window .wp-editor-wrap {
  width: 95%;
}

/*
  Edit invoice sidebar info section
*/
.wpinv #side-sortables .prefix {
  float: left;
  font-weight: bold;
  line-height: 32px;
  text-align: right;
  width: 23%;
}
.wpinv #side-sortables select {
  width: 100%;
}

.wpinv .button-small {
  font-weight: normal;
}
.wpinv .button-small.pull-right {
  float: right;
}

/*
  Edit invoice sidebar notes section
*/
.wpinv ul.notes li .note_content {
  background: #f1f1f1 none repeat scroll 0 0;
  border-radius: 5px;
  line-height: 18px;
  margin: 0;
  padding: 10px;
  position: relative;
}
.wpinv ul.notes .meta {
  color: #888;
  font-size: 11px;
  text-align: right;
  margin: 3px 5px 10px;
  line-height: 14px;
}

/*
  Edit invoice list item section
*/
.wpinv .repeatable input, .wpinv .repeatable textarea, .wpinv .repeatable select {
  padding: 3px 5px !important;
}
/* Money field */
.wpinv .repeatable input.regular-text {
  width: 99%;
}
.wpinv .repeatable textarea {
  width: 100%;
  height: 45px;
}

.wpinv .wpinv_totals {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  min-width: 40%;
}
.wpinv .wpinv_totals h3 {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 8px 12px;
}
.wpinv .wpinv_totals div {
  padding: 5px 12px;
  border-bottom: solid 1px #f9f9f9
}
.wpinv .wpinv_totals .alignright > span {
  margin: 0 0 0 3px;
}
.wpinv .wpinv_totals .sub {
  background: #f8f8f8;
  font-weight: bold;
  border-bottom: 1px solid #e1e1e1;
}
.wpinv .wpinv_totals .total{
  background: #f8f8f8 none repeat scroll 0 0;
  font-weight: bold;
  border-top: 1px solid #e1e1e1;
}

/*
  options section
*/
.wpinv #wpbody-content .metabox-holder {
  padding-top: 0;
}

.wpinv label small {
  color: #888;
  font-weight: normal;
  font-size: 11px;
}
.wpinv_import_form {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  padding: 10px 30px 5px;
  margin-bottom: 40px;
}
.wpinv .labeled-chart-container {
  min-height: 180px;
  padding-right: 150px;
  position: relative;
}
.wpinv .canvas-holder {
  margin: 20px 0;
  padding: 4px 0;
  position: relative;
}
.wpinv .doughnut-legend {
  list-style: outside none none;
  position: absolute;
  right: 8px;
  top: 0;
}
.wpinv .doughnut-legend li, .wpinv .bar-legend li {
  border-radius: 5px;
  cursor: default;
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  padding: 2px 8px 2px 28px;
  position: relative;
  transition: background-color 200ms ease-in-out 0s;
}
.wpinv .bar-legend li {
  display: inline;
}
.wpinv .doughnut-legend li span, .wpinv .bar-legend li span {
  border-radius: 5px;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
/*
 * Columns/ list view
 */
.wpinv .manage-column.column-comments {
  width: 50px;
}
.wpinv .column-act-btn {
  margin: 0 5px 4px 0;
  padding: 0 6px 1px;
}
.wpinv .column-email-btn {
  padding: 0 6px 1px;
}
.wpinv .button.ui-tip .dashicons {
  float: left;
  font-size: 16px;
  margin: 5px 0 0;
}
td.taxonomy-invoice_status a {
  border: 2px solid #ddd;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 8px;
}
td.taxonomy-invoice_status a[href*="draft"], .wpinv .subsubsub .draft a {
  border-color: #25B1D1;
  color: #25B1D1;
}
td.taxonomy-invoice_status a[href*="paid"], .wpinv .subsubsub .paid a, td.taxonomy-quote_status a[href*="sent"], .wpinv .subsubsub .sent a {
  border-color: #60AD5D;
  color: #60AD5D;
}
td.taxonomy-invoice_status a[href*="unpaid"], .wpinv .subsubsub .unpaid a {
  border-color: #ED904E;
  color: #ED904E;
}
td.taxonomy-invoice_status a[href*="overdue"], .wpinv .subsubsub .overdue a, .wpinv .subsubsub .declined a {
  border-color: #D85C27;
  color: #D85C27;
}
td.taxonomy-invoice_status a[href*="cancelled"], .wpinv .subsubsub .cancelled a {
  border-color: #A3977F;
  color: #A3977F;
}

.wpinv .inline-edit-row fieldset .timestamp-wrap, .wpinv .inline-edit-row fieldset label span.input-text-wrap {
  margin-left: 10em;
}
.wpinv .inline-edit-row fieldset label span.title, .wpinv .inline-edit-row fieldset.inline-edit-date legend {
  width: 10em;
}
.wpinv #wpbody-content .quick-edit-row-post .inline-edit-col-left {
  width: 48%;
  margin: 0 1%;
}
.wpinv .dashicons-print {
    font-size: 13px !important;
}
/* recurring invoices */
.wpinv .recur_next {
  color: #888;
}
.wpinv .recur_next .dashicons-clock {
  color: #888;
  float: left;
  font-size: 16px;
  margin: 2px 2px 0 0;
}
.wpinv tr .title a {
  font-weight: normal;
}
.wpinv tr .row-title .dashicons-controls-repeat{
  padding: 0 3px 0 0;
}
.wpinv tr:not(.level-0) .row-title .dashicons-controls-repeat{
  color: #888;
  padding: 0 3px 0 10px;
}

@media only screen and (min-width : 300px) and (max-width : 489px) {

  .wpinv .wpinv_totals {
    min-width: 100%;
  }

}

.getpaid-is-invoice-cpt .subsubsub .mine {
    display: none;
}

/* General Settings Styles */
.wpi-wpinv-settings .form-table th {
    position: relative;
    padding-right: 24px;
}

.wpi-wpinv-settings .form-table th .wpi-help-tip {
    position: absolute;
    right: 0;
    color: #616161;
}

.wpi-wpinv-settings .form-table tbody tr:first-child th[scope="row"] {
    min-height: 1.4rem;
    display: inline-block;
}
.wpi-wpinv-settings .form-table tbody tr:first-child th[scope="row"] h3 {
    position: absolute;
}

.wpi-wpinv-settings .form-table td {
    padding: 12.5px 10px;
}
.wpi-wpinv-settings .form-table label {
    color: #666;
    font-size: 14px;
    margin: 4px 0 0;
}
.wpi-wpinv-settings .form-table select + label,
.wpi-wpinv-settings .form-table .wpi_select2 td label,
.wpi-wpinv-settings .form-table input.regular-text ~ label,
.wpi-wpinv-settings .form-table textarea ~ label{
    display: block;
}
.wpi-wpinv-settings .form-table input.small-text ~ label,
.wpi-wpinv-settings .form-table input[type="checkbox"] + label {
    display: inline;
}
.wpi-wpinv-settings .form-table tr > th > strong,
.wpi-wpinv-settings .form-table tr > th > h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 auto;
}
.wpi-wpinv-settings input.small-text[type="number"] {
    padding: 1px 1px 1px 6px;
    line-height: normal;
}

/* Vat Settings */
.wpinv .wpinv-vat-stat {
    margin-left: 7px;
}
.wpinv .wpinv-vat-stat-0 {
    color: red;
}
.wpinv .wpinv-vat-stat-0 .fa:before {
    content:"\f06a";
}
.wpinv .wpinv-vat-stat-1 {
    color: green;
}
.wpinv .orange {
    color: orange;
}
.wpinv .wpinv-vat-stat-1 .fa:before {
    content:"\f058";
    color: orange;
}
.wpinv .wpinv-vat-stat-2 .fa {
    -webkit-animation: fa-spin 1.5s infinite linear;
    animation: fa-spin 1.5s infinite linear;
}
.wpinv .wpinv-vat-stat-2 .fa:before {
    content:"\f021";
}

/* VAT Rates */
.wpi-taxes-vat_rates-main #tab_container form p.submit,
.wpi-taxes-vat_rates-_new #tab_container form p.submit {
    display: none;
}
.wpi-wpinv-settings td.wpinv_vat_tdbox,
.wpi-wpinv-settings td.wpinv_tools_tdbox {
    padding: 0;
}
#wpinv_vat_rates {
    margin: 1em 0;
}
#wpinv_vat_rates .wpinv_vat_country {
    text-align: center;
}
#wpinv_vat_rates .wpinv_vat_rate {
    width: 90px;
}
#wpinv_vat_rates .wpinv_vat_name *,
#wpinv_vat_rates .wpinv_vat_group * {
    width: 100%;
}
#wpinv_vat_rates th {
    padding: 15px 10px;
    width: auto;
}
#wpinv_vat_rates tbody td {
    border-bottom: solid 1px #efefef;
}
#wpinv_vat_rates thead th,
#wpinv_vat_rates tfoot td {
    background-color: #fafafa;
}
.wpinv_errors {
  background: #ffffe0 none repeat scroll 0 0;
  border: 1px solid #e6db55;
  border-radius: 2px;
  color: #333;
  margin: 10px 0 10px;
  display: inline-block;
  padding: 4px 7px;
}
.wpinv-fees-box {
    padding: 0.7em 0 !important;
}
.wpinv_fees table,
.wpinv_fees table td {
    border: none;
    vertical-align: middle;
}
.wpinv_fees table td {
    padding: 7px;
    border-top: 1px solid #f6f6f6;
}
.wpinv_fees .wpinv-fee-action {
    width: 30px;
    text-align: center;
}
.wpinv_fees .wpinv-fee-amount {
    padding-right: 0;
    text-align: right;
    width: 135px;
}
.wpinv_fees .wpinv-fee-btn {
    text-align: right;
    padding-right: 0;
}
.wpinv_fees .wpinv-fee-lbl, .wpinv_fees .wpinv-fee-amount input {
    text-align: right;
}
.wpinv-fee-action i {
    cursor: pointer;

}
.wpinv-fee-remove:hover  i {
    color: #333;
    font-size: 120%;
}
.getpaid-is-invoice-cpt #submitpost #delete-action,
.post-type-wpi_item #submitpost .misc-pub-visibility,
.post-type-wpi_item #submitpost .misc-pub-curtime,
.post-type-wpi_item #submitpost #delete-action,
.post-type-wpi_item #postexcerpt .inside > p,
.inline-edit-wpi_item .inline-edit-col-left .inline-edit-date,
.inline-edit-wpi_item .inline-edit-col-left .inline-edit-group,
.post-type-wpi_item #wpbody-content .wrap #message > p > a {
    display: none;
}
.wpi-wa {
    display: inline-block;
    float: none !important;
    width: auto !important;
}
.wpi-tbp1 {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.wpi-m0 {
    margin: auto !important;
}
.wpi-mtb05 {
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}
.wpi-field-price {
    width: 80px!important;
    text-align: right;
}
.wpi-field-qty {
    width: 50px;
}
.inline-edit-row.inline-edit-wpi_item .wpi-inline-item-col {
    margin-top: 0 !important;
}
.inline-edit-row.inline-edit-wpi_item .wpi-inline-item-col select {
    min-width: 160px;
    font-size: 13px;
}
.inline-edit-row.inline-edit-wpi_item .inline-edit-col-right label span.title {
    width: 10em;
}
.inline-edit-row.inline-edit-wpi_item .inline-edit-col-right label span.input-text-wrap {
    margin-left: 10em;
}

.post-type-wpi_item .fixed .column-id {
    width: 90px;
}
.post-type-wpi_item .fixed .column-price {
    width: 180px;
}

.post-type-wpi_item .fixed .column-shortcode {
    width: 280px;
    text-align: right;
}

.post-type-wpi_item .fixed .column-recurring {
    text-align: center;
    width: 90px;
}
.post-type-wpi_item .fa-recurring-y {
    color: green;
}
.post-type-wpi_item .fa-recurring-n {
    color: gray;
}
.post-type-wpi_item .fixed .column-vat_rule,
.post-type-wpi_item .fixed .column-vat_class {
    width: 150px;
}
.post-type-wpi_item .fixed .column-type {
    width: 140px;
}

.post-type-wpi_payment_form .fixed .column-refunds,
.post-type-wpi_payment_form .fixed .column-earnings,
.post-type-wpi_payment_form .fixed .column-items,
.post-type-wpi_payment_form .fixed .column-shortcode {
    width: 14%;
}

.post-type-wpi_item .fixed .column-type .meta,
.post-type-wpi_item .fixed .column-price .meta,
.getpaid-is-invoice-cpt .type-wpi_invoice td .meta {
    display: block;
    font-size: 90%;
    font-style: italic;
    color: #777;
    margin: 0;
}
.type-wpi_invoice .meta.gateway {
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.post-type-wpi_item #filter-by-date {
    display: none;
}
#wpinv_items_wrap {
    margin: 0;
    overflow: auto;
    position: relative;
}
#wpinv_items_wrap .bg-light {
    background-color: #f8f9fa !important;
}
#wpinv_items_wrap .h-100 {
    height: 100% !important;
}
#wpinv_items_wrap .w-100 {
    width: 100% !important;
}
#wpinv_items_wrap .position-absolute {
    position: absolute !important;
}
#wpinv_items_wrap .align-items-center {
    align-items: center !important;
}

#wpinv_items_wrap .justify-content-center {
    justify-content: center !important;
}
#wpinv_items_wrap .d-flex {
    display: flex !important;
}
#wpinv_items_wrap table.wpinv-items {
    background: #fff;
    width: 100%;
}
#wpinv_items_wrap table.wpinv-items thead th {
    -moz-user-select: none;
    user-select: none;
    background: #f8f8f8;
    color: #555;
    padding: 8px;
    text-align: left;
}
#wpinv_items_wrap table.wpinv-items thead th:first-child {
    padding-left: 12px;
}
#wpinv_items_wrap table.wpinv-items .item {
    min-width: 200px;
}
#wpinv_items_wrap table.wpinv-items tbody.wpinv-line-items tr:first-child td {
    border-top: medium none;
}
#wpinv_items_wrap table.wpinv-items tbody tr:last-child td {
    border-bottom: 1px solid #dfdfdf;
}
#wpinv_items_wrap table.wpinv-items tbody th,
#wpinv_items_wrap table.wpinv-items td {
    border-bottom: 1px dotted #ececec;
    line-height: 24px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
#wpinv_items .action .fa-remove {
    cursor: pointer;

}
#wpinv_items .action .fa-remove:hover {
    color: #333;
}
#wpinv_items_wrap table.wpinv-items td.id {
    padding: 8px 8px 8px 12px;
    width: 50px;
}
#wpinv_items_wrap table.wpinv-items .action {
    text-align: center;
    width: 30px;
}
#wpinv_items_wrap table.wpinv-items .price,
#wpinv_items_wrap table.wpinv-items .qty,
#wpinv_items_wrap table.wpinv-items .tax,
#wpinv_items_wrap table.wpinv-items tr .total {
    width: 100px;
}

#wpinv_items_wrap table.wpinv-items td.tax .tax-rate {
    font-size: 90%;
    color: #72777c;
    font-style: italic;
}
#wpinv_items tfoot.wpinv-totals td {
    line-height: normal;
}
#wpinv_items tfoot.wpinv-totals .clear td {
    border: none;
}
#wpinv_items tfoot.wpinv-totals td.blank {
    background: #fff!important;
    border: none!important;
    border-right: 1px dotted #ececec!important;
}
#wpinv_items tfoot.wpinv-totals td.name {
    text-align: right;
}
#wpinv_items tfoot.wpinv-totals tr.subtotal td {
    background: #f8f8f8;
    font-weight: bold;
}
#wpinv_items tfoot.wpinv-totals tr.total td {
    background: #e5e5e5;
    font-weight: bold;
}

#wpinv-quick-add {
    display: none;
}
.wpinv-actions {
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    clear: both;
    padding: 10px;
}
.wpinv-actions  #wpinv-add-item {
    margin-right: 10px;
}
.wpinv-actions  #wpinv_invoice_item {
    margin-right: 5px;
    font-size: 13px;
    width: 200px;
}

#wpinv_items_wrap table.wpinv-items tr .qty {
    text-align: left;
    width: 25px;
}
#wpinv_items_wrap table.wpinv-items tr .meta {
    display: block;
    font-size: 12px;
    color: #72777c;
}
#wpinv_items_wrap table.wpinv-items tr .meta * {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}
.wpinv-items-wrap.wpinv-paid th.action,
.wpinv-items-wrap.wpinv-paid td.action {
    width: 0 !important;
}
.wpinv-totals table {
    width: 100%;
}
.wpinv-totals .totals > td {
    padding: 0!important;
    text-align: right;
}
.discount code {
    background: inherit;
    font-size: inherit;
    margin: 0 1px;
    padding: 0 1px;
}
#wpinv-quick-add table {
    background: #fff;
    width: 100%;
}
#wpinv-quick-add  .regular-text {
    width: 90%;
}
#wpinv-quick-add table tr:first-child td {
    border-top: medium none;
}
#wpinv-quick-add table tr:last-child td {
    border-bottom: 1px solid #dfdfdf;
}
#wpinv-quick-add table td {
    border-bottom: 1px dotted #ececec;
    line-height: 24px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
#wpinv-quick-add table td.type {
    padding: 8px 8px 8px 8px;
    width: 60px;
}
#wpinv-quick-add table .price,
#wpinv-quick-add table tr .total {
    text-align: right;
    width: 120px;
}
#wpinv-quick-add table tr .qty {
    text-align: left;
    width: 25px;
}
#wpinv-quick-add .wp-clearfix {
    margin: 3px 0;
}
#wpinv-quick-add .wp-clearfix label span.title {
    display: inline-block;
    width: 34%;
}
#wpinv-quick-add .wp-clearfix label {
    display: inline-block;
    margin: 3px 0;
    width: 100%;
}
#wpinv-quick-add .wp-clearfix label span.input-text-wrap {
    display: inline-block;
    width: 55%;
}
#wpinv-quick-add .wp-clearfix label.wpi-item-actions span.input-text-wrap {
    width: 90%;
}
#wpinv-quick-add .wp-clearfix label span select {
    width: 100%;
    font-size: 13px;
}

table#wpinv_items .title {
    width: 500px;
}

#wpinv-quick-add .wpi-item-actions .button {
    margin-right: 15px;
}
#wpinv-address .button-small .fa {
    color: #333;
    margin-right: 3px;
}

body.wpi-wpinv-settings .wp-picker-holder,
.wpinv #tab_container td .wp-picker-holder {
    position: absolute;
    z-index: 999
}
.wpinv-row-recurring-fields input#wpinv_recurring_limit {
    width: 50px
}
.wpinv-row-recurring-fields > label {
    margin-right: 3px;
}
.wpi-trial-clr {
    display: block;
    height: 12px;
}
.wpinv-row-recurring-fields.wpinv-recurring-n {
    color: #888;
}
.wpinv-trial-interval > * {
    display: inline-block;
    vertical-align: middle;
}
.inside > p.wpi-meta-row > label  {
    font-weight: 600;
    vertical-align: text-top;
}
.inside > p.wpi-meta-row {
    line-height: normal;
    vertical-align: middle;
    word-break: break-all;
}
.inside > p.wpi-meta-row a {
    text-decoration: none;
}
.wpi-meta-row.wpi-sub-label {
  background: #f7f7f7;
  border: 1px solid #eee;
  border-radius: 3px;
  color: #777;
  font-weight: bold;
  margin: 10px auto auto auto;
  padding: 7px 10px;
  text-align: center;
}
.wpinv-flr {
    float: right;
}
.wpinv-address .wpinv-new-user,
.wpinv-address .wpinv-new-cancel {
    margin-left: 3px;
}
.getpaid-is-invoice-cpt #TB_ajaxContent {
    max-height: calc(100% - 47px);
    min-width: 95% !important;
    width: auto !important;
}
.getpaid-is-invoice-cpt #TB_ajaxContent .alert {
    border: medium none;
    height: auto;
    margin: 5px 15px 2px;
    padding: 1px 12px;
}
.getpaid-is-invoice-cpt #TB_ajaxContent .form-table th,
.getpaid-is-invoice-cpt #TB_ajaxContent .cmb-th {
    padding: 5px 10px 5px 0;
}
.getpaid-is-invoice-cpt .popup-form .form-field label {
    float: left;
    font-weight: bold;
    margin: 10px 0 5px;
    width: 100%;
}
.getpaid-is-invoice-cpt #TB_ajaxContent .form-table td {
    margin-bottom: 0;
    padding: 5px 0;
}
.getpaid-is-invoice-cpt #TB_ajaxContent .show-password #pass1-text {
    width: 25em;
}
.getpaid-is-invoice-cpt .result-message {
    display: none;
}
#wpinv-details #major-publishing-actions {
    border-top: none;
}
.wpi-wpinv-settings td.wpinv_tools_tdbox {
    padding: 0;
}
.wpi-tools-main #tab_container form > p.submit {
    display: none;
}
#wpinv_tools_table {
    margin: 1em 0
}
#wpinv_tools_table .wpinv-th-tool {
    width: 20%;
}
#wpinv_tools_table .wpinv-th-action {
    width: 10%;
}
#wpinv_tools_table tr th:last-child,
#wpinv_tools_table tr td:last-child {
    text-align: center;
}
#wpinv_tools_table thead th {
    background-color: #f9f9f9;
    padding: 15px 10px;
}
#wpinv_tools_table tbody td {
    border-bottom: 1px solid #efefef;
}
#wpinv_tools_table  tr:nth-child(even) {
    background-color: #fcfcfc;
}
#wpinv_tools_table  tr.wpinv-tool-active,
#wpinv_tools_table  tr.wpinv-tool-loader {
    background-color: #d8ffdc;
}
#wpinv_tools_table  tr.wpinv-tool-active td {
    border-bottom: none!important;
}
#wpinv_tools_table  tr.wpinv-tool-loader td {
    position: relative;
}
#wpinv_tools_table  tr.wpinv-tool-loader td {
    border-top: none!important;
    border-bottom: 1px dotted #9f9f82!important;
}
#wpinv_tools_table  tr.wpinv-tool-done.wpinv-tool-loader td {
    padding: 12.5px 20px 12.5px 40px;
    text-align: left;
    font-style: italic;
}
#wpinv_tools_table  tr.wpinv-tool-done .wpinv-i-loader {
    display: none;
}
#wpinv_tools_table  tr.wpinv-tool-done .wpinv-i-close {
    position: absolute;
    right: 17px;
    top: 12px;
    cursor: pointer;
}
#wpinv_tools_table  tr.wpinv-tool-done .wpinv-i-check {
    color: orange;
    left: 16px;
    position: absolute;
}
#wpinv_tools_table  tr.wpinv-tool-done .wpinv-i-error {
    color: red;
}
.wpinv-i-loader {
    position: absolute;
    top: -5px;
}
.post-type-wpi_item .wp-list-table.widefat .column-stock {
    width: 80px;
}

/* Discounts */
.post-type-wpi_discount #postexcerpt .inside p {
    display: none;
}
.post-type-wpi_discount .wp-list-table.widefat th#name {
    width: 150px;
}
.post-type-wpi_discount .wp-list-table.widefat .column-amount,
.post-type-wpi_discount .wp-list-table.widefat .column-code,
.post-type-wpi_discount .wp-list-table.widefat .column-description,
.post-type-wpi_discount .wp-list-table.widefat .column-usage,
.post-type-wpi_discount .wp-list-table.widefat .column-start_date,
.post-type-wpi_discount .wp-list-table.widefat .column-expiry_date,
.post-type-wpi_discount .wp-list-table.widefat .column-status {
    min-width: 14%;
}

.post-type-wpi_discount .wp-list-table.widefat .column-title {
    width: 30%;
}

.post-type-wpi_discount #submitpost #delete-action,
.post-type-wpi_discount #submitpost #visibility,
.post-type-wpi_discount #submitpost .misc-pub-curtime {
    display: none;
}
textarea.wpi-email_overdue_content {
    width: 100%;
}

#wpinv-submit-wrap [type="submit"] {
    vertical-align: top;
    line-height: normal;
}
.wpi-hide {
    display: none!important
}
.wpi-inlineb {
    display: inline-block!important
}

.getpaid-is-invoice-cpt form#post #edit-slug-buttons {
    display: none;
}
.getpaid-is-invoice-cpt form#post #titlediv [name="post_title"] {
    cursor: not-allowed;
    opacity: .75;
}

.wpi-wpinv-subscriptions .subscriptions .column-status,
.wpi-wpinv-subscriptions .subscriptions .column-renewal_date,
.wpi-wpinv-subscriptions .subscriptions .column-start_date,
.wpi-wpinv-subscriptions .subscriptions .column-renewals,
.wpi-wpinv-subscriptions .subscriptions .column-item {
    width: 140px;
}

#poststuff #getpaid_admin_subscription_invoice_details_metabox .inside,
#poststuff #getpaid_admin_subscription_item_details_metabox .inside,
#poststuff #getpaid_admin_subscription_related_subscriptions_metabox .inside,
#poststuff #wpinv-mb-subscription-invoices .inside {
    margin: 0;
    padding: 0;
}

#getpaid_admin_subscription_invoice_details_metabox table thead th:first-child,
#getpaid_admin_subscription_invoice_details_metabox table tbody td:first-child,
#getpaid_admin_subscription_item_details_metabox table thead th:first-child,
#getpaid_admin_subscription_item_details_metabox table tbody td:first-child,
#getpaid_admin_subscription_item_details_metabox table thead th:first-child,
#getpaid_admin_subscription_item_details_metabox table tbody td:first-child {
    padding-left: .75rem !important;
}

.wpi-mcheck-rows .wpi-mcheck-row {
    float: none;
    display: block;
}

.wpi-mcheck-row input[type="checkbox"] {
    margin-top: 3px;
}

/* Tooltips */
.wpi-help-tip {
    cursor: help;
}

.wpi-ui-tooltip {
    background: #333 !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    box-shadow: 1px 1px 2px 1px rgba(214,214,214,0.5) !important;
    color: #dedede !important;
    max-width: 300px !important;
    padding: 7px !important;
    text-rendering: optimizeLegibility;
    text-shadow: none !important;
    z-index: 9999 !important;
}
.wpi-meta-row.wpi-meta-desc {
    margin: 0;
    line-height: normal;
    font-size: 13px;
    font-style: italic;
}

.wpi-products .wpi-product {
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    position: relative;
    margin: 0 0 15px 0;
    box-sizing: border-box;
    width: 32%;
    margin-left: 2%; }
.wpi-products .wpi-product:nth-child(3n+1) {
    margin-left: 0; }
@media screen and (max-width: 600px) {
    .wpi-products .wpi-product {
        width: calc(100% - 15px); } }
.wpi-products .wpi-product:hover .wpi-product-image img {
    opacity: 0.75; }
.wpi-products .wpi-product:hover .wpi-product-image .wpi-product-info {
    display: block; }
.wpi-products .wpi-product a {
    text-decoration: none; }
.wpi-products .wpi-product h3 {
    background: #f9f9f9;
    padding: 15px;
    margin: 0; }
.wpi-products .wpi-product h3 .wpi-help-tip {
    float: none;
    margin: 0; }
.wpi-products .wpi-product .wpi-product-image {
    max-height: 198px;
    display: block;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;
    box-sizing: border-box; }
.wpi-products .wpi-product .wpi-product-image img {
    float: left; }
@media screen and (max-width: 600px) {
    .wpi-products .wpi-product .wpi-product-image {
        max-height: 318px; } }
.wpi-products .wpi-product .wpi-product-image .wpi-product-info {
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 39px);
    background: #000000b5;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    display: none; }
@media screen and (max-width: 600px) {
    .wpi-products .wpi-product .wpi-product-image .wpi-product-info {
        display: block; } }
.wpi-products .wpi-product .wpi-product-excerpt {
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 5px 10px; }
.wpi-products .wpi-product .wpi-product-excerpt p {
    margin: 0; }
.wpi-products .wpi-product .wpi-product-button {
    min-height: 40px;
    display: block;
    background: #f9f9f9; }
.wpi-products .wpi-product .wpi-product-button .addons-price-text {
    margin: 10px 0 0 6px;
    float: left; }
.wpi-products .wpi-product .addons-button {
    float: right;
    margin: 5px 6px 0 0; }
.wpi-products .wpi-product img {
    max-width: 100%; }

@media screen and ( max-width: 782px) {
    .wpi-mcheck-rows.wpi-w33p .wpi-mcheck-row,
    .wpi-mcheck-rows.wpi-w50p .wpi-mcheck-row  {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {

    #wpinv_items_wrap .wpinv-actions [type="button"],
    #wpinv_items_wrap .wpinv-actions select {
        width: 47%;
        margin: 3px 2% 3px 0;
    }
    .wpi-mcheck-rows.wpi-w33p .wpi-mcheck-row,
    .wpi-mcheck-rows.wpi-w50p .wpi-mcheck-row  {
        width: 100%;
    }
}


/* memership tab */
.easy-update {
  font-size: 16px;
}
.membership-content {
  max-width: 800px;
  padding: 50px 20px;
}

.gd-membership-tab-conatiner input[type=text] {
  min-width: 300px;
}
.membership-cta-contet {
  background: #fff;
  min-height: 500px;
  margin-top: 30px;
}
.membership-cta-contet .main-cta {
  background: #8AB747;
  color: #fff;
  padding: 40px;
}
.membership-cta-contet .main-cta h2 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin: 0px;
}

.membership-cta-contet .feature-list h3 {
  font-size: 20px;
  color: #fff;
  line-height: 1.3;
  text-align: center;
}
.membership-cta-contet .feature-list ul {
  margin: 0px;
  padding: 40px 0px 10px 0px;
  font-size: 18px;
}
.membership-cta-contet .feature-list ul li {
  width: 48%;
  display: inline-block;
  padding-bottom: 5px;
}
.membership-cta-contet .feature-list ul li span {
 color: #353C7C;
 font-size: 14px;
}
.membership-cta-contet .feature-cta {
  vertical-align: top;
  text-align: center;
  padding-top: 0px;
  background: #353C7C;
  padding: 20px 0px 40px 0px;
}

.membership-cta-contet .feature-cta h3 {
  font-size: 30px;
  font-weight: 200;
  color: #fff;
  line-height: 1.2;
  text-align: center;
}
.membership-cta-contet .feature-cta h4 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  margin: 0px;
}

.membership-cta-contet .feature-cta a {
  display: inline-block;
  margin-top: 20px;
  padding: 20px 20px;
  background: #8AB747;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  line-height: 1;
}
.membership-cta-contet .feature-cta a:hover {
  opacity: .8;
}

.membership-cta-contet .member-testimonials {
  padding: 60px;
}
.membership-cta-contet .member-testimonials h3 {
  margin: 0px 0px 40px 0px;
  text-align: center;
  font-size: 30px;
}
.membership-cta-contet .testimonial-content {
  padding: 0px 0px 40px 0px;
}

.membership-cta-contet .testimonial-content .image-profile {
  max-width: 200px;
  display: inline-block;
}
.membership-cta-contet .testimonial-content .t-image {
  max-width: 100px;
  display: inline-block;
  vertical-align: top;
}
.membership-cta-contet .testimonial-content .t-image img {
  max-width: 90%;
}
.membership-cta-contet .testimonial-content .t-content {
  max-width: 500px;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;

}
.membership-cta-contet .testimonial-content .t-content p {
  font-size: 16px;
}
.membership-cta-contet .testimonial-content .t-content p strong {
  display: block;
}
.membership-cta-contet .member-footer {
  padding: 30px;
  background: #ccc;
}
.membership-cta-contet .member-footer .footer-btn {
  display: inline-block;
  padding: 20px 20px;
  background: #353C7C;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  line-height: 1;
}
.membership-cta-contet .member-footer .footer-link {
  font-size: 16px;
  float: right;
  color: #353C7C;
}

.wpinv-form-builder-element-preview {
    padding: 10px;
    box-sizing: border-box;
    cursor: move;
}

.wpinv-form-builder-element-preview.address {
    padding-bottom: 0;
}

.wpinv-form-builder-element-preview.address .address-field-preview:last-child {
    margin-bottom: 0;
}

.wpinv-form-builder-element-preview:hover,
.wpinv-form-builder-element-preview.active {
    border: 1px dashed #ffb74d;
}

.wpinv-form-builder-element-preview h2 {
    font-size: 23px !important;
    padding: 0 !important;
}

.wpinv-form-builder-right input,
.wpinv-form-builder-right button,
.wpinv-form-builder-right select,
.wpinv-form-builder-right textarea{
    cursor: not-allowed !important;
}

.wpinv-available-items-editor,
.wpinv-form-address-field-editor {
    display: block;
    position: relative;
    margin: 5px 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 25px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}

.wpinv-available-items-editor-header,
.wpinv-form-address-field-editor-header {
    background: #fafafa;
    height: 37px;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    cursor: move;
    width: 100%;
}

.wpinv-form-address-field-editor {
    opacity: 0.3;
}

.wpinv-form-address-field-editor.visible {
    opacity: 1;
}

/** Panel visibility indicators*/
.wpinv-form-address-field-editor:not(.visible) .wpinv-form-address-field-editor-header .dashicons-visibility {
    display: none;
}

.wpinv-form-address-field-editor.visible .wpinv-form-address-field-editor-header .dashicons-hidden {
    display: none;
}

/** Panel toggle arrows*/
.wpinv-form-address-field-editor:not(.active) .wpinv-form-address-field-editor-header .dashicons-arrow-up {
    display: none;
}

.wpinv-form-address-field-editor.active .wpinv-form-address-field-editor-header .dashicons-arrow-down {
    display: none;
}

.wpinv-available-items-editor-header .label,
.wpinv-form-address-field-editor-header .label {
    flex: 1;
}

.wpinv-available-items-editor-header .price{
    font-weight: initial;
}

.wpinv-available-items-editor-header .toggle-icon,
.wpinv-form-address-field-editor-header .toggle-icon,
.wpinv-form-address-field-editor-header .toggle-visibility-icon {
    margin-left: 4px;
    cursor: pointer;
}

.wpinv-available-items-editor-header .dashicons,
.wpinv-form-address-field-editor-header .dashicons{
    vertical-align: bottom;
}

.wpinv-available-items-editor-body,
.wpinv-form-address-field-editor-editor-body {
    display: none;
    overflow: hidden;
}

.wpinv-address-wrapper .address-field-preview:hover {
    cursor: move;
}

.wpinv-address-wrapper .wpinv-payment-form-field-preview-overlay:hover {
    background: rgba(255, 235, 59, 0.08);
    margin: -10px;
}

.wpinv-form-builder-element-preview-inner {
    position: relative;
}

.wpinv-payment-form-field-preview-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.wpinv-form-builder-edit-field-wrapper option:disabled {
    color: #9e9e9e;
}

.wpinv-payment-form-left-fields-field {
    width: 49%;
    background-color: #fafafa;
    margin-bottom: 9px;
    cursor: move;
    border: 1px solid #eeeeee;
    list-style: none;
}

.wpinv-payment-form-left-fields-field .btn {
    width: 100%;
    cursor: move;
    font-size: 14px;
}

.wpinv-payment-form-left-fields-field.sortable-ghost {
    width: 100%;
}

.wpinv-report-container {
    box-sizing: border-box;
    padding: 20px 15px 15px 15px;
    margin-top: 15px;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.getpaid-mb-form-field {
    padding: 5px 20px 5px 162px!important;
    margin: 9px 0;
    line-height: 24px;
}

.getpaid-mb-form-field label{
    float: left;
    width: 150px;
    padding: 0;
    margin: 0 0 0 -150px;
}

.getpaid-mb-form-field .dashicons{
    vertical-align: bottom;
}

.getpaid-mb-form-field.form-field input[type="text"],
.getpaid-mb-form-field.form-field input[type="password"],
.getpaid-mb-form-field.form-field input[type="email"],
.getpaid-mb-form-field.form-field input[type="number"], 
.getpaid-mb-form-field.form-field input[type="tel"], 
.getpaid-mb-form-field.form-field input[type="url"], 
.getpaid-mb-form-field.form-field textarea {
    float: left;
    width: 50%;
}

#wpinv_discount_amount_wrap.flat .wpinv-if-percent {
    display: none !important;
}

#wpinv_discount_amount_wrap.percent .wpinv-if-flat {
    display: none !important;
}

/* Subscription items */
/* We use classes to toggle so that the initial "display value e.g flex|blog" is maintained*/
.getpaid_is_not_subscription_item .wpinv_show_if_recurring {
    display: none !important;
}

.getpaid_is_subscription_item .wpinv_hide_if_recurring {
    display: none !important;
}

/* Dynamic prices */
.getpaid_is_not_dynamic_item .wpinv_show_if_dynamic {
    display: none !important;
}

.getpaid_is_dynamic_item .wpinv_hide_if_dynamic {
    display: none !important;
}

.getpaid-price-buttons label{
    transition: all .3s ease-out;
    text-align: center;
    padding: 10px 20px;
    background-color: #eeeeee;
    border: 1px solid #e0e0e0;
}

.getpaid-price-circles label {
    padding: 0 4px;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.getpaid-price-circles label span{
    display: block;
    padding: 50%;
    margin: -3em -50% 0;
    position: relative;
    top: 1.5em;
    border: 1em solid transparent;
    white-space: nowrap;
}

.getpaid-price-buttons input[type="radio"]{
    display: none;
}

.getpaid-price-buttons input[type="radio"]:checked + label,
.getpaid-price-buttons label:hover {
    color: #fff;
    background-color: #1e73be;
    border-color: #1e73be;
}

.getpaid-is-invoice-cpt #post-body-content,
.getpaid-is-invoice-cpt #astra_settings_meta_box,
.getpaid-is-invoice-cpt #rank_math_metabox_link_suggestions,
.getpaid-is-invoice-cpt #rank_math_metabox {
    display: none !important;
}

.getpaid_invoice_items {
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    table-layout: fixed;
}

.getpaid_invoice_items tr{
    border-bottom: 1px solid #ddd;
}

.getpaid_invoice_items th {
    text-align: left;
    padding: 1em;
    font-weight: 400;
    color: #999;
    background: #f8f8f8;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.getpaid_invoice_items td {
    text-align: left;
    padding: 1em;
}

.getpaid-is-invoice-cpt .has-items .hide-if-has-items,
.getpaid-is-invoice-cpt .no-items .hide-if-no-items,
.getpaid-is-invoice-cpt .amount .hide-if-amount,
.getpaid-is-invoice-cpt .quantity .getpaid-hide-if-quantity,
.getpaid-is-invoice-cpt .hours .getpaid-hide-if-hours,
.getpaid-is-invoice-cpt .not-editable .hide-if-not-editable,
.getpaid-is-invoice-cpt .editable .hide-if-editable {
    display: none !important;
}

.getpaid-invoice-item-actions {
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    padding: 10px;
    border-right: 1px solid #dfdfdf;
    background: #f8f8f8;
}

#getpaid-add-items-to-invoice table {
    border: 0;
}

#getpaid-add-items-to-invoice th {
    padding: 0 1em 1em 1em;
    text-align: left;
}

#getpaid-add-items-to-invoice th {
    padding: 0 1em 1em 1em;
    text-align: left;
}

#getpaid-add-items-to-invoice td {
    padding: 1em;
    text-align: left;
    vertical-align: middle;
}

.getpaid-invoice-status {
    display: inline-block;
    line-height: 2.5em;
    color: #777;
    background: #e5e5e5;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin: -.25em 0;
    white-space: nowrap;
    max-width: 100%;
}

.getpaid-invoice-status.publish {
    background: #b0bec5;
}

.getpaid-invoice-status.wpi-renewal {
    background: #c8d7e1;
}

.getpaid-invoice-status.wpi-pending {
    background: #cfd8dc;
}

.getpaid-invoice-status.wpi-failed {
    background: #ffccbc;
}

.getpaid-invoice-status.wpi-cancelled {
    background: #ffcdd2;
}

.getpaid-invoice-status > span {
    margin: 0 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.getpaid-is-invoice-cpt .wp-list-table .column-recurring,
.post-type-wpi_quote .wp-list-table .column-recurring{
    width: 60px;
}

.getpaid-invoice-totals-row {
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    padding: 10px;
    border-right: 1px solid #dfdfdf;
    background: #f8f8f8;
}

.getpaid-invoice-totals-row .value{
    font-size: 1em!important;
    width: 14em;
    margin: 0 0 0 .5em;
    box-sizing: border-box;
    font-weight: 700;
}

.getpaid-invoice-totals-row .label{
    vertical-align: top;
}

.getpaid-invoice-totals-row td{
    padding: 0.4em;
}

.wpi-wpinv-settings table.form-table input.regular-input,
.wpi-wpinv-settings table.form-table input[type=date],
.wpi-wpinv-settings table.form-table input[type=datetime-local],
.wpi-wpinv-settings table.form-table input[type=datetime],
.wpi-wpinv-settings table.form-table input[type=email],
.wpi-wpinv-settings table.form-table input[type=number],
.wpi-wpinv-settings table.form-table input[type=password],
.wpi-wpinv-settings table.form-table input[type=tel],
.wpi-wpinv-settings table.form-table input[type=text],
.wpi-wpinv-settings table.form-table input[type=time],
.wpi-wpinv-settings table.form-table input[type=url],
.wpi-wpinv-settings table.form-table input[type=week],
.wpi-wpinv-settings table.form-table textarea,
.wpi-wpinv-settings table.form-table select {
    width: 25em;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 8px;
}

.getpaid-settings-editor-input {
    width: 620px;
}