
.wpi-form .blockUI.blockMsg,
.wpinv-page .blockUI.blockMsg  {
	background-color: transparent !important;
	border: none !important;
}

.wpi-payment_methods .payment_box {
		box-sizing: border-box;
		width: 100%;
		font-size: 0.92em;
		border-radius: 2px;
		color: #515151;
		position: relative;
	line-height: 1.5;
	margin: 1em 0;
	padding-left: 1.4em;
}

.wpi-gateway-desc {
	background-color: #efefef;
	padding: 1em;
}

.wpi-gateway-desc::before {
		content: '';
		display: block;
		border: 1em solid #efefef;
		border-right-color: transparent;
		border-left-color: transparent;
		border-top-color: transparent;
		position: absolute;
		top: -1.0em;
		left: 0;
		margin: -1em 0 0 2em;
}

.wpi-payment_methods input[type="radio"] {
	display: inline-block;
	margin: 0 1em 0 0;
}

.wpi-payment_methods label {
	line-height: 2;
	text-align: left;
}

.wpinv-receipt-details .getpaid-invoice-meta-data th {
	width: 40%;
	font-weight: 500;
}

.wpinv-receipt-details .getpaid-invoice-meta-status-value .d-inline-block {
	line-height: 1 !important;
}

.wpinv-receipt-details .label {
	font-size: inherit;
}
.wpinv-receipt-details .tr-total td {
	background-color: #f7f7f7;
}
.wpinv_cart_total_row td,
.wpinv_cart_total_row th {
	background-color: #f7f7f7;
}
.wpinv-cart-sub-desc {
	display: inline-block;
	max-width: 85%;
	float: left;
	text-align: left;
}
.wpinv-receipt-message {
	margin: 0 5px 20px 5px;
}
.wpinv-receipt .wpi-row-ovatno,
.wpinv-receipt  .wpi-row-uvatno {
	display: none;
}
#wpinv_adddress_confirm.wpi-vat-info {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
#wpinv_adddress_confirm.wpi-vat-info #wpinv-fields-box {
	min-height: auto;
	padding: 15px;
}

.wpinv-success .wpinv-receipt-details .table th,
.wpinv-success .getpaid-bank-transfer-details .table th {
	width: 35%;
	font-weight: 500;
}

.getpaid-invoice-meta-invoice_total-value {
	font-weight: 500;
}

#wpinv_checkout_wrap *, #wpinv_checkout_wrap *:after, #wpinv_checkout_wrap *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#wpinv_checkout_wrap .name-your-price-miniform {
	margin-top: 10px;
	font-size: 12px;
	display: none;
}

#wpinv_checkout_wrap .name-your-price-miniform .wpi-field-price {
	margin-right: 10px;
	max-width: 100px;
	display: inline-block;
}

#wpinv_checkout_wrap .name-your-price-miniform .btn {
	vertical-align: top;
}

.wpi-form .panel-heading h3.panel-title {
	margin: 0;
}
@media screen and (max-width:767px) {    
	.wpinv-success .wpinv-receipt-details .table th,
	.wpinv-success .wpinv-bank-details .table th {
		width: 45%!important;
	}
	#wpinv-fields p.wpi-cart-field.wpi-col2 {width: 100%;float: none;padding: 0;margin-bottom: 10px;}
}

.wpi-pmethod {
	margin-right: 10px;
}

input[type="number"].getpaid-item-quantity-input,
input[type="text"].getpaid-item-price-input {
		width: 64px;
		text-align: center;
		padding: 0.3em;
		vertical-align: middle;
		line-height: 1;
		margin: 0;
		border-color: #dddddd;
		background: #fff;
		box-shadow: none;
		border-radius: 0px;
		min-height: 35px;
		color: #666;
		font-weight: normal;
}

.getpaid-payment-form-items-cart-header  {
	background-color: #fbfbfb;
		font-weight: 600;
		border-bottom: 1px solid #dee2e6;
		padding: .7em 1em;
}

.getpaid-payment-form-items-cart-item,
.getpaid-form-cart-totals-col {
	font-weight: 600;
	padding: .7em 1em;
		min-height: 3.25em;
}

.getpaid-price-buttons label{
	transition: all .3s ease-out;
	text-align: center;
	padding: 10px 20px;
	background-color: #eeeeee;
	border: 1px solid #e0e0e0;
}

.getpaid-price-circles label {
	padding: 0 4px;
	-moz-border-radius:50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.getpaid-price-circles label span{
	display: block;
	padding: 50%;
	margin: -3em -50% 0;
	position: relative;
	top: 1.5em;
	border: 1em solid transparent;
	white-space: nowrap;
}

.getpaid-price-buttons input[type="radio"]{
	visibility: hidden;
	height: 0;
	width: 0;
}

.getpaid-price-buttons input[type="radio"]:checked + label,
.getpaid-price-buttons label:hover {
	color: #fff;
	background-color: #1e73be;
	border-color: #1e73be;
}

.getpaid-gateway-radio-div label {
		line-height: 2;
		text-align: left;
}

.getpaid-gateway-radio-div input {
		display: inline-block;
		margin: 0 1em 0 0;
}

.getpaid-gateway-description-div {
	box-sizing: border-box;
		width: 100%;
		font-size: 0.92em;
		border-radius: 2px;
		color: #515151;
		position: relative;
		line-height: 1.5;
		margin: 1em 0;
		padding-left: 1.4em;
}

.getpaid-gateway-description {
	background-color: #efefef;
		padding: 1em;
}

.getpaid-gateway-description::before {
		content: '';
		display: block;
		border: 1em solid #efefef;
		border-right-color: transparent;
		border-left-color: transparent;
		border-top-color: transparent;
		position: absolute;
		top: -1.0em;
		left: 0;
		margin: -1em 0 0 2em;
}

.bsui .page-numbers {
	display: inline-block;
    margin-right: 16px;
}

.getpaid-payment-form.bsui .form-control {
	display: block;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.getpaid-payment-form.bsui label {
	margin-bottom: .15rem;
}

.getpaid-new-payment-method,
.getpaid-payment-method {
	list-style-type: none;
}

.getpaid-new-payment-method label,
.getpaid-payment-method label{
	font-weight: 500;
}

.getpaid-public-items-archive-single-item .inner{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-right: 10px;
	min-height: 100%;
}

.getpaid-public-items-archive-single-item:hover .inner{
	box-shadow: 0 1px 4px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.30);
}

.wp-block-getpaid-public-items-getpaid-public-items-loop .item-name {
	font-size: 1.3rem;
}

.getpaid-item-status-pending,
.getpaid-invoice-status-wpi-pending {
    background-color: #f9fbe7;
    color: #33691e;
    border-bottom: 1px solid #dcedc8;
}

.getpaid-item-status-canceled,
.getpaid-invoice-status-wpi-cancelled {
    background-color: #ede7f6;
    color: #311b92;
    border-bottom: 1px solid #d1c4e9;
}

.getpaid-item-status-failing,
.getpaid-invoice-status-wpi-failed {
    background-color: #fff3e0;
    border-bottom: 1px solid #ffe0b2;
    color: #bf360c;
}

.getpaid-item-status-info,
.getpaid-invoice-status-wpi-renewal {
    background-color:#e0f7fa;
    border-bottom: 1px solid#bbdefb;
    color: #006064;
}

.getpaid-item-status-success,
.getpaid-invoice-status-publish {
    background-color:#f1f8e9;
    border-bottom: 1px solid#dcedc8;
    color: #33691e;
}

.getpaid-item-status-expired,
.getpaid-invoice-status-wpi-onhold {
    background-color: #fbe9e7;
    border-bottom: 1px solid#ffccbc;
    color: #bf360c;
}

.getpaid-item-status-trial,
.getpaid-invoice-status-wpi-processing {
    background-color: #eceff1;
    border-bottom: 1px solid#9e9e9e;
    color: #263238;
}

.getpaid-subscriptions th {
	font-weight: 500;
}

.getpaid-subscription-item-actions {
	color: #ddd;
    font-size: 13px;
    padding: 2px 0 0;
    position: relative;
    left: -9999em;
}

.getpaid-subscriptions-table-row:hover .getpaid-subscription-item-actions {
    position: static;
}

.getpaid-subscriptions table {
	font-size: 0.9em;
	table-layout: fixed;
}

.getpaid-subscriptions-table-column-subscription {
	font-weight: 500;
}

.getpaid-subscriptions-table-row span.label {
	font-weight: 500;
}

.getpaid-subscriptions.bsui .table-bordered thead th {
	border-bottom-width: 1px;
}

.getpaid-subscriptions.bsui .table-striped tbody tr:nth-of-type(odd) {
	background-color: rgb(0 0 0 / 0.01);
}

.wpinv-page .bsui a.btn {
    text-decoration: none;
}
