html {
    font-size: 16px;
}

body {
	margin: 0
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-weight: inherit;
    font-size: 15px;
    font-size: 1rem;
    line-height: 1.85714285714286;
}

a img {
	outline: none;
	border: none
}

.wpinv-wrap .table th,
.wpinv-wrap .table-active td {
	background: #ededed none repeat scroll 0 0;
	padding-bottom: 12px;
	padding-top: 12px
}

.wpinv-totals .table .rate {
	width: auto
}

.wpinv-totals .table .total {
	max-width: 100px;
	width: auto
}

.wpinv-wrap .row_odd {
	background: #fafafa
}

.wpinv-wrap .wpinv-items .row_even {
	background: transparent
}

.wpinv-wrap .table th,
.wpinv-wrap .table td,
.wpinv-wrap .table-bordered {
	border: none;
	border-bottom: 1px solid #ddd
}

.wpinv-wrap .table th {
	border-bottom: none
}

.wpinv-wrap .wpinv-totals {
	float: right
}

.wpinv-wrap .table .blank,
.wpinv-wrap .table .table-active .blank {
	border: none;
	background: transparent
}

.wpinv-wrap {
	background: #fff none repeat scroll 0 0;
	padding: 20px 30px;
	border: 1px solid #aaa;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
	margin: 20px auto;
	position: relative;
	display: block
}

.wpinv-top-bar {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
	padding: 16px 0 18px
}

.wpinv-top-bar .fa {
	margin: 0 4px 0 0
}

.wpinv-print .row.wpinv-header {
	margin-bottom: 30px
}

.wpinv-business .logo {
	max-width: 300px
}

.wpinv-title {
	font-size: 160%;
	text-align: right
}

.wpinv-address {
	margin-bottom: 7px
}

.wpinv-print .wpinv-address {
	margin-bottom: 15px
}

.wpinv-address p {
	margin: 0
}

.wpinv-description {
	padding: 20px 0 0
}

.wpinv-items .description {
	color: #777;
	display: block;
	font-size: 90%;
	width: 100%;
	float: left;
	font-style: italic
}

.wpinv-items .description p {
	margin: 0
}

.wpinv-items .itmid {
	text-align: center
}

.wpinv-items .rate,
.wpinv-items .total,
.wpinv-items .tax,
.wpinv-items .adjust,
.wpinv-totals td {
	text-align: right
}

.wpinv-footer {
	margin: 40px 0 0;
	text-align: center
}

.payment .wpinv-business {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px
}

/* END BASIC RESETS */

.print-only{
    visibility: hidden
}

/* Watermarks */
.getpaid-watermark {
    display: block;
    left: 0;
    right: 0;
    position: absolute;
    top: 15%;
    z-index: 2;
    pointer-events: none;
}

.getpaid-watermark p {
    color: rgb(0 0 0 / 0.2);
    font-size: 200px;
    font-weight: 500;
    -webkit-transform: rotate(325deg);
    transform: rotate(325deg);
    text-align: center;
    font-family: monospace;
}

/* Alert Messages */
.wpinv-message {
    text-align: center;
    padding: 15px 20px 15px;
    color: #fff;
    font-weight: 100;
    border-radius: 4px;
    display: block;
    float: none;
    font-weight: normal;
    margin: 25px auto;
    max-width: 80%;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 18px;
}

.wpinv-message .dashicons {
    background: #fff none repeat scroll 0 0;
    border: 2px solid;
    border-radius: 55px;
    clear: both;
    display: block;
    font-size: 60px;
    height: 90px;
    margin: -60px auto 15px;
    text-align: center;
    width: 90px;
    line-height: 90px;
}

.message-return {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 220px;
}

.message {
    border-color: #008CBA;
    color: #008CBA;
}

.success {
    border-color: #43AC6A;
    color: #43AC6A;
}

.alert {
    border-color: #F08A24;
    color: #F08A24;
}

.error, .failed {
    border-color: #F04124;
    color: #F04124;
}

.wpinv .deposit-alert {
    display: block;
    float: none;
    font-weight: normal;
    margin: 25px auto;
    max-width: 50%;
    padding: 15px;
    text-align: center;
}

.wpinv-payments,
.wpinv-bank-info .bg-info {
    background: #ededed;
    margin: 20px 0;
    padding: 15px 20px 5px 20px;
    border: 1px solid #aaa;
    color: #333;
}

.wpinv-bank-info .bg-info {
    margin: 0 0 30px 0;
}
.wpinv-print .wpinv-bank-details .bg-info.alert {
    display: block;
    padding: 12px 15px;
    background: transparent;
    border: 1px solid #ddd;
}
.wpinv-print .wpinv-bank-details .bg-info p:last-child {
    margin-bottom: 0;
}

.wpinv-bank-info {
    margin-bottom: 30px;
}

.wpinv-bank-info .wpinv-bank-t {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.wpinv-line-details .table th,
.wpinv-line-details .table td,
.wpinv-bank-info .table th,
.wpinv-bank-info .table td {
    padding: 8px;
    background: none;
}

.wpinv-line-details .table th,
.wpinv-bank-info .table th {
    width: 35%;
}

.wpinv-print .wpinv-details .wpinv-line-details {
    padding-left: 1.25em;
}

.wpinv-print .wpinv-details .table th,
.wpinv-print .wpinv-details .table td {
    width: auto;
}

.wpinv-line-details .table .wpi-row-total th,
.wpinv-line-details .table .wpi-row-total td {
    background-color: #ededed;
}

.wpinv-payments h4 {
    padding: 0 0 10px;
}

.wpinv-payments h4 .fa {
    margin: 0 5px 0 0;
}

.bank, .generic {
    float: left;
    width: 50%;
}

.wpinv-wrap .table-bordered {
    margin-bottom: 10px;
}

.wpinv-wrap .table th,
.wpinv-wrap .table td,
.wpinv-wrap .table-bordered {
    border: 1px solid #ccc;
    vertical-align: bottom;
}

.terms-text {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-size: 85%;
    margin: 0 0 30px;
    padding: 10px 0 0;
}

.wpinv-address .from,
.wpinv-address .to {
    max-width: 60px;
}

.wpinv-subscriptions-details h3,
.wpinv-renewal-payments h3 {
    margin-bottom: 7px;
}

.wpinv-subscriptions-details table,
.wpinv-renewal-payments table {
    border: none!important;
    margin-bottom: 30px;
}

.wpinv-wrap .wpinv-subscriptions-details table th,
.wpinv-wrap .wpinv-subscriptions-details table td,
.wpinv-wrap .wpinv-renewal-payments table th,
.wpinv-wrap .wpinv-renewal-payments table td {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: none;
    vertical-align: middle;
    padding: 8px;
}

.wpinv-wrap .wpinv-subscriptions-details table th:first-child {
    width: 40%;
}

.wpinv-cart-sub-desc {
    display: inline-block;
    max-width: 85%;
    float: left;
    text-align: left;
    font-style: italic;
    font-size: 95%;
}

.wpinv-cart-sub-desc .label-primary {
    font-weight: bold;
    font-style: normal;
}

.wpinv-print .row-total td {
    vertical-align: top !important;
}

.wpinv-print .wpinv-vat-info {
    margin: 20px 0;
}

.wpinv-print .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.wpinv-print .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.wpinv-print .alert {
    display: none;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.wpinv-invalid-invoice .wpinv-business {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.wpinv-invalid-invoice .wpinv-row-invalid {
    margin-bottom: 100px;
}

.wpinv-invalid-invoice .wpinv-message {
    min-width: 66.67%;
}

.wpinv-invalid-invoice .wpinv-msg-text {
    margin-top: 15px;
}

.getpaid-invoice-notes-title {
    padding: 10px 12px;
}

.getpaid-invoice-notes {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    list-style-type: none;
    word-wrap: break-word;
}

.getpaid-invoice-notes .meta {
    left: 1.5rem;
    bottom: 6px;
    color: #616161;
    font-size: 12px;
    font-weight: 400;
}

.getpaid-company-address .invoice-company-address-value p {
    margin-bottom: 0;
}

.getpaid-invoice-meta-invoice_total {
    background-color: #fbfbfb;
}

.getpaid-invoice-meta-invoice_total td {
    font-weight: 700;
}

.getpaid-invoice-items-header {
    background-color: #fbfbfb;
    font-weight: 600;
    border-bottom: 1px solid #dee2e6;
    padding: .7em 1em;
}

.getpaid-invoice-item {
    font-weight: 600;
    padding: .7em 1em;
    min-height: 3.25em;
}

.getpaid-invoice-line-totals-col {
    font-weight: 600;
    padding: .5em 1em;
}

.getpaid-invoice-description {
    margin-bottom: 20px;
    border-left: 2px solid #2196F3;
}

.getpaid-invoice-line-totals-col.total {
    border-top: 1px solid #dee2e6;
    background-color: #fbfbfb
}

@media screen and (max-width:400px) {
    .wpinv-print .watermark.no-print {
        left: 10%;
    }
}

@media screen and (min-width: 1200px) {
    .wpinv-print .bsui .container {
        max-width: 960px;
    }
}

@media print {

    /** https://stackoverflow.com/questions/22199429/bootstrap-grid-for-printing */
    .wpinv .bsui .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .wpinv .bsui .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wpinv .bsui .offset-sm-6 {
        margin-left: 50%;
    }

    .wpinv .bsui .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wpinv .bsui .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .no-print {
        display: none !important;
    }

    .wpinv > .container.wpinv-wrap {
        border: none;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    .wpinv-wrap .table .total {
        width: 22.5%;
    }

    .wpinv-print .wpinv-details .wpinv-line-details {
        padding-left: 1em;
    }
}

@media screen and (max-width:767px) {
    .wpinv > .container.wpinv-wrap {
        padding: 15px;
        margin: 15px;
    }

    .wpinv-top-bar {
        padding: 10px 0;
    }

    .wpinv-line-details .table th,
    .wpinv-bank-info .table th {
        width: 45%!important;
    }

    .wpinv-print .wpinv-details .wpinv-line-details {
        padding-left: 0;
    }
}

@media screen and (max-width:420px) {
    .wpinv-print .wpinv-subscriptions-details .table {
        font-size: 10.5px;
    }
}

.getpaid-invoice-meta-status-value .d-inline-block {
	line-height: 1 !important;
}

.getpaid-item-status-pending,
.getpaid-invoice-status-wpi-pending {
    background-color: #f9fbe7;
    color: #33691e;
    border-bottom: 1px solid #dcedc8;
}

.getpaid-item-status-canceled,
.getpaid-invoice-status-wpi-cancelled {
    background-color: #ede7f6;
    color: #311b92;
    border-bottom: 1px solid #d1c4e9;
}

.getpaid-item-status-failing,
.getpaid-invoice-status-wpi-failed {
    background-color: #fff3e0;
    border-bottom: 1px solid #ffe0b2;
    color: #bf360c;
}

.getpaid-item-status-info,
.getpaid-invoice-status-wpi-renewal {
    background-color:#e0f7fa;
    border-bottom: 1px solid#bbdefb;
    color: #006064;
}

.getpaid-item-status-success,
.getpaid-invoice-status-publish {
    background-color:#f1f8e9;
    border-bottom: 1px solid#dcedc8;
    color: #33691e;
}

.getpaid-item-status-expired,
.getpaid-invoice-status-wpi-onhold {
    background-color: #fbe9e7;
    border-bottom: 1px solid#ffccbc;
    color: #bf360c;
}

.getpaid-item-status-trial,
.getpaid-invoice-status-wpi-processing {
    background-color: #eceff1;
    border-bottom: 1px solid#9e9e9e;
    color: #263238;
}

.getpaid-invoice-meta-data th {
    font-weight: 500;
}

.getpaid-line-item-actions {
    color: #ddd;
    font-size: 13px;
    padding: 2px 0 0;
    position: relative;
    left: -9999em;
}

.getpaid-invoice-item:hover .getpaid-line-item-actions {
    position: static;
}
