.getpaid-invoice-notes {
    max-height: 300px;
}

.getpaid-company-address .invoice-company-address-value p {
    margin-bottom: 0;
}

.getpaid-invoice-meta-invoice_total {
    background-color: #fbfbfb;
}

.getpaid-invoice-meta-invoice_total td {
    font-weight: 700;
}

.getpaid-invoice-items-header {
    background-color: #fbfbfb;
    font-weight: 600;
    border-bottom: 1px solid #dee2e6;
    padding: .7em 1em;
}

.getpaid-invoice-item {
    font-weight: 600;
    padding: .7em 1em;
    min-height: 3.25em;
}

.getpaid-invoice-line-totals-col {
    font-weight: 600;
    padding: .5em 1em;
}

.getpaid-invoice-line-totals-col.total {
    border-top: 1px solid #dee2e6;
    background-color: #fbfbfb
}

@media screen and (min-width: 1200px) {
    .wpinv-print .bsui .container {
        max-width:880px;
    }
}

@media screen and (min-width: 576px) {
    .bsui .border-sm-left {
        border-left: 1px solid #dee2e6 !important;
    }
    
}

@media print {

    /** https://stackoverflow.com/questions/22199429/bootstrap-grid-for-printing */
    .wpinv .bsui .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .wpinv .bsui .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wpinv .bsui .offset-sm-6 {
        margin-left: 50%;
    }

    .wpinv .bsui .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wpinv .bsui .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wpinv > .container.wpinv-wrap {
        border: none;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    .wpinv-wrap .table .total {
        width: 22.5%;
    }

    .wpinv-print .wpinv-details .wpinv-line-details {
        padding-left: 1em;
    }

    .bsui .border-sm-left {
        border-left: 1px solid #dee2e6 !important;
    }
}

@media screen and (max-width:767px) {
    .wpinv > .container.wpinv-wrap {
        padding: 15px;
        margin: 15px;
    }

    .wpinv-line-details .table th,
    .wpinv-bank-info .table th {
        width: 45%!important;
    }

    .wpinv-print .wpinv-details .wpinv-line-details {
        padding-left: 0;
    }
}

@media screen and (max-width:420px) {
    .wpinv-print .wpinv-subscriptions-details .table {
        font-size: 10.5px;
    }
}

.getpaid-line-item-actions {
    color: #ddd;
    font-size: 13px;
    padding: 2px 0 0;
    position: relative;
    left: -9999em;
}

.getpaid-invoice-item:hover .getpaid-line-item-actions {
    position: static;
}

.getpaid-invoice-meta-vat_number {
    display: none;
}

.wpinv-print .bsui .table-bordered thead th,
.wpinv-print .bsui .table-bordered thead td {
    border-bottom-width: 1px;
}
